<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.practice_project.mapper.AnimalMapper">
<!-- 동물들의 전체 목록을 불러오는 select   -->
    <select id="selectAll" resultType="AnimalDTO">
        select id, name
        from (
             select rownum as rn, p.*
             from(
                 select id, name
                 from animal
                 order by id
                 ) p
             )
        where rn &gt;  #{startRow}
        and rn &lt;= #{endRow}
    </select>

    <!-- product테이블의 총 데이터의 수  -->
    <select id="countAnimals" resultType="int">
        select count(*)
        from animal
    </select>

<!-- 동물의 세부 정보를 불러오는 select -->
    <select id="selectOne" resultType="AnimalDetailDTO">
        select *from animal
        where id = #{id}
    </select>

<!-- 동물 정보 insert  -->
    <insert id="insert" parameterType="AnimalVO">
        insert into animal
        values (seq_animal.nextval, #{name}, #{species}, #{description})
    </insert>

<!-- 동물 delete  -->
    <delete id="deleteOne">
        delete from animal
        where id = #{id}
    </delete>

<!--  동물 update  -->
    <update id="updateAnimal">
        update animal
        set name = #{name}, species= #{species}, description = #{description}
        where id = #{id}
    </update>
</mapper>