<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.practice_project.mapper.UserMapper">
    <!-- 회원가입  -->
    <insert id="insert">
        insert into tbl_user
        values (seq_user.nextval, #{userId}, #{email}, #{password}, #{name})
    </insert>

    <!--  로그인  -->
    <select id="selectOne">
        select *from tbl_user
        where userId = #{userId}
    </select>
</mapper>